$main-color: #34495E;
$background-color: #FDFDFD;
$text-color: #222222;

body {
  font-family: inherit;
}

article {
  .title {
    font-size: 2em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  p, li {
    text-align: inherit;
  }

  table {
    th, td {
      word-break: break-word;
      border-width: 1px;
      border-style: solid;
      padding: 5px 10px;
    }

    margin: 0 0 10px 0;
  }

  blockquote {
    padding: 0 0 0 1.75em;
    margin: 1em 0;
    font-size: inherit;
    border-width: 0 0 0 0.25em;
  }

  pre.highlight {
    margin: 0 0 10px 0;
    padding: 10px 15px;
    border-width: 0;
    border-radius: 0;

    code {
      white-space: inherit;
      word-wrap: normal;
    }
  }
}
